*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #4b4b4b;
    background-color:#F2F2F2;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 20px;
    width: 100%;
    border-right: 1px solid #161e2e;
    border-left: 1px solid #161e2e;
    
}


header {
    width: auto;
    background-color: F2F2F2
}

.container {
    /* height: 80px; */
    line-height: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    
    font-weight: bold; // mettre en gras
    font-size: 5em; // Une taille de 6 fois la taille normale
    color: #efefef;
    text-shadow:1px 3px 8px rgba(0,0,0,0.80); // une ombre de 8px decalÃ© de 3px et 1px avec une couleur noir Ã  80% d'opacitÃ©
    }

  
.card {
    padding: 16px;
    position: unset;
    margin-bottom: 16px;
    background-color: white;
    border-bottom: 1px solid #6b7280;
    border-top: 1px solid #6b7280;
}

h3 {
    font-size: small;
    font-family: ;
}

.titre {
    color: #4b4b4b;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: x-large;
    justify-content: ;
    width: 100%;
    margin: 0 auto;
    /* border-right: 1px solid #161e2e;
    border-left: 1px solid #161e2e; */
    position: relative;
}


span.badge {
    color: #215273;
    background-color: #D1E3E8;
    font size: 14px;
    font-weight: 500;
    border-radius: 10px;
    padding: 0  4px 0 4px;
}





#footer {
      padding:50px 0;
  color:#f0f9ff;
  background-color:#F2F2F2;
}

img {
    justify-content:right;
    width : 50px;
    height : 50px;
}

